body{
    /* background     : url("./back.jpg"); */
    background     : url("../image/back.jpg");
    color          : #000;
    display        : flex;
    justify-content: center;
    width          : 100%;
    margin         : 0;
    
}

.block{
    width        : 60vw;
    height       : 100vh;
    background   : rgba(255, 255, 255,0.5) ;
    border-radius: .5rem;
    position     : relative;
}

.block_inline{
    position: absolute;
    top     : 200px;
    left    : 200px;
}

.button{
    display         : block;
    width           : 10rem;
    height          : 2rem;
    font-size       : 1.05rem;
    border-radius   : .5rem;
    border-width    : 0px;
    color           : #fff;
    background-color: #303e6f;
    margin          : 1rem;
}