body{
    /* background     : url("./back.jpg"); */
    background     : url("../image/22.jpg");
    color          : #000;
    display        : flex;
    justify-content: center;
    width          : 100%;
    margin         : 0;
    position       : relative;
}

.main{
    width    : 70vw;
    height   : 60vh;
    color    : #d37132;
    position : absolute;
    top      : 200px;
    left     : 500px;
    font-size: 2rem;
}


h1{
    color : aliceblue;
    margin: 100px;
}

#postForm{
    position: absolute;
    top     : 170px;
}

label{
    width: 500px;
    color: #fff;
}

input{
    width        : 3rem;
    height       : 2rem;
    border       : none;
    border-radius: 5px;
    margin       : 10px;
    padding-left : .3rem;
    padding-left : .3rem;
    text-align   : center;
}

#postForm input{
    width: 10rem;
}

#postForm .in{
    width: 18rem;
}

#idCard{
    width: 14rem;
}

#name{
    width: 4rem;
}

#check{
    position: relative;
    top     : 10px;
}

#users{
    position: absolute;
    top     : 550px;
}